@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');


:root {
    --White: #FFFFFF;
    --Soft-white: #FFFBF2;
    --System-dark: #3B4256;

    --Primary-900: #FF3C8A;
    --Primary-500: #FF70A9;

    --Secondary-900: #008BD8;
    --Secondary-500: #56BFF9;

    --Ternary-500: #8B3DFF;
    --Ternary-300: #B686FF;

    --Info-200: #85D2FF;
    --Danger-900: #CC1D1D;
    --Danger-500: #FF5656;

    --Neutral-100: #E9E9E9;
    --Neutral-300: #A6A6A6;
    --Neutral-700: #4D4D4D;

    --toast-success: #4CAF50;
    --toast-error: #CC1D1D;
    --toast-info: #2196F3;
    --color-white: #fff;
    --color-text: #333;
    --color-text-light: #666;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    --border-radius: 8px;
}


body {}

h1,
h2,
h3 {
    font-family: 'Ubuntu Sans', sans-serif;
}

* {
    font-family: 'Onest', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/OpenDyslexic-Regular.otf') format('opentype');
}